
/* Global*/

body{
    background:  #E5E5E5;
}

.pricing-table{
    width: 1143px;
    height: 684px;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    color: #484848;
    position: relative;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    margin-top: 60px;
    border: 20px solid #3A4965;
    background-color: #FAFAFA;
}

td, tr{
    padding: 22px;
}

th{
    color: #FFFFFF;
}

    /* Table name */

.table-name{
    text-align: left;
    text-transform: none;
    margin-bottom: 5px;
}

.table-name a{
    text-decoration: none;
    color: #3e3e3f;
    font-size: 16px;
}

    /* Head */

.title{
    position: relative;
    bottom: 20px;
}

.one-title{
    background: #89C331;
    font-size: 24px;
}

.two-title{
    background: #F04A56;
    font-size: 30px;
}

.three-title{
    background: #20807C;
    font-size: 24px;
}

.first-cell{
    background-color: #FAFAFA;
    border-right: 1px solid #bdbdbd;
    color: #484848;
    font-family: 'Arimo';
    font-weight: 700;
    font-size: 30px;
    padding-top: 50px;
}

h3{
    font-size: 18px;
}

.column-price{
    padding-left: 0;
    padding-bottom: 8px;
}

.price{
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
    color: #484848;
    position: relative;
    padding-left: 30px;
}

.price::after{
    content: ".99";
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    color: #484848;
    bottom: 40px;
    position: absolute;
}

.price-text{
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    bottom: 15px;
    position: relative;
}

    /* Body table */

.first-column{
    width: 313px;
}

td:not(:last-child){
    border-right: 1px solid #bdbdbd;
}

tr:nth-child(even){
    background-color: #E3E3E3;
}

tr:nth-child(odd){
    background-color: #F2F2F2;
}

    /* Footer */

.footer{
    height: 53px;
    align-items: center;
}

.btn{
    width: 195px;
    height: 54px;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-one{
    background: #484848;
    border-bottom: 9px solid #404040;;
}

.btn-two{
    background: #89C331;
    border-bottom: 9px solid #79B027;
}

.btn-three{
    background: #F04A56;
    border-bottom: 9px solid #DF3A46;
}

.btn-four{
    background: #20807C;
    border-bottom: 9px solid #16736F;
}



